{% extends 'base.html.twig' %}

{% block header %}
      <div class="banner">
            <div class="logoAbc">
            </div>
      </div>
      <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                  <div class="bg-dark p-4">
                        <h4 class="text-white">Menu</h4>
                        <span class="text-muted">Naviguer dans le menu</span>
                  </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                  </button>
            </nav>
      </div>
{% endblock %}